.live-messages > header {
	padding-bottom: 1em;
	position: sticky;
	top: 0;
	background-color: white;
	margin-bottom: 0;
	padding-top: 1.2em;
	z-index: 2;
	box-shadow: 1em 0px 0 0 white, -1em 0 0 0 white, 0 -2px 4px black;
	margin-left: -1rem;
	margin-right: -1rem;
	padding-left: 1rem;
}
.live-messages .live-message {
	--focus-color: #EEE;

	position:relative;
	transition-duration: 0.5s;
	transition-property: background-color, box-shadow, opacity;
}
.live-message:not([data-id]) {
	border-top:0;
	border-bottom:1px solid #CCC;
}
.live-message:not([data-id]):not(.active) > [is] {
	opacity:0.5;
}

.live-message:not([data-id]):not(.active):hover > [is] {
	opacity:1;
}

.live-message:not([data-id]):not(.active) {
	--focus-color:#F5F5F5;
}
.live-messages > .live-message {
	display:block !important;
}
.live-messages > .live-message:hover, .live-message.active {
	background-color: var(--focus-color);
	box-shadow: 1em 0px 0 0 var(--focus-color), -1em 0 0 0 var(--focus-color);
	padding-top: 1em;
	margin-top: 1em;
	scroll-margin-top: 5em;
}

.live-message.active > .focus {
	background-color:white !important;
}
.live-message.active [class^="live-"] {
	background-color:#F9F9F9;
}

.live-message .live-article,
.live-messages figure > div > .lazy {
	min-height:100px;
}

.live-messages .lazy {
	width:100% !important;
	opacity:1 !important;
	background:#EEE;
}

.live-message .live-icons .selected {
	outline:1px dotted #55F;
}

.flatpickr-calendar.hasTime.noCalendar {
	width: 79px;
}

.live-message.unsaved {
	--focus-color: #DDD;
}

.live-message.unsaved.blink {
	--focus-color: #b80000;
}

.live-message > [is] {
	cursor:default;
}
.live-message > [is].ProseMirror {
	cursor:text;
}
.live-message.active > [is] {
	outline:none;
}
.live-message.active > [is]:hover,
.live-message.active > [is]:focus {
	outline:1px solid black;
}

.active.live-message > [is]:empty::before {
	content: '\00a0';
	color:gray;
}

.ProseMirror-gapcursor::after {
	top:-1px;
	border-top-width:2px;
	z-index:1;
}
.ProseMirror-menuitem > *:not(.ProseMirror-menu-disabled):hover {
	background-color: #DDD;
}

.ProseMirror *::selection {
	background: var(--bgselcolor);
	color: var(--selcolor);
}

.ProseMirror-selectednode {
	outline: 2px solid var(--bgselcolor);
}

.ProseMirror-menu-toggle > svg + svg,
.ProseMirror-menu-toggle.ProseMirror-menu-active > svg:first-of-type {
	display: none;
}
.ProseMirror-menu-toggle.ProseMirror-menu-active > svg + svg {
	display: initial;
}

.ProseMirror x-empty {
	display: block;
}

.live-message:not([data-id]) > [data-placeholder][is]:empty::before {
	content: attr(data-placeholder);
	font-style: italic;
	opacity: 0.5;
}

.live-messages header .live-controls {
	float: right;
	margin-left: 1rem;
	padding: 0;
	text-align: right;
}
