live-asset {
	cursor: default;
}
#resources live-asset {
	position:relative;
	box-shadow: -1px 1px 3px var(--btncolor);
	background: white;
}

#resources live-asset > .header {
	background-color: #4165A0;
	color:white;
	display: flex;
	width: 100%;
	height: 2.3em;
	align-items: flex-start;
}
#resources live-asset > .header > a {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	flex: 1 1 auto;
	line-height: 2.3em;
	padding-left: 0.5em;
	color:inherit;
	text-decoration: none;
}

#resources live-asset > .header > img {
	padding: 0.4em;
	align-self: center;
	height: 2.3em;
	background-image: linear-gradient(140deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
}

#resources live-asset > .meta {
	padding-top: 0.15em;
	padding-bottom: 0.15em;
	padding-left:0.5em;
	/* let div.meta grow with its content */
	position:relative;
	background-color: var(--bg);
	margin: 0;
	flex: 1 0 auto;
	max-width: 70%;
	color: var(--btncolor);
}
#resources live-asset > .meta > strong {
	color: var(--btncolorhover);
}
#resources live-asset > .meta > .line {
	display:inline-block;
	font-family:sans-serif;
	font-size:0.7em;
	line-height:1em;
	margin-top:0.15em;
}

#resources live-asset > .thumbnail {
	flex: 1 0 auto;
	max-width: 30%;
	overflow:hidden;
	aspect-ratio: 16 / 9;
}

#resources live-asset > .thumbnail > img {
	height: 100%;
	width: 100%;
	display: block;
	object-fit: cover;
}



#asset-editor {
	display:none;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:1;
	background-color:#CCC;
}


#resources live-asset button {
	all:unset;
	padding: 0.4em;
	display:inline-block;
	width: 2.3em;
	height: 2.3em;
	text-align:center;
	flex: 0 0 auto;
	box-sizing: border-box;
	line-height: 1.2em;
}
#resources live-asset button:hover {
	background:#DDD;
	color:#333;
}



#resources live-asset > .meta > p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: 0;
}


.live-message live-asset > * {
	pointer-events: none;
}
.live-message live-asset {
	cursor:grab;
}

#resources > live-asset {
	display: flex;
	flex-direction: row;
	margin: 0.2rem;
	text-decoration: none;
	font-size: 0.8em;
	flex-wrap: wrap;
	border-radius: 4px;
}

#resources.icon {
	column-count:4;
}
#resources.icon > form {
	display:none;
}

.dragging {
	opacity:0.3;
}

.handle {
	position:absolute;
	background: #4165A0;
	opacity:0.7;
	border:none;
	color:white;
	font-size:0.8em;
	padding:1em;
}
