live-asset {
	cursor: default;
	display: flex;
	flex-direction: row;
	margin: 0 0.1rem;
	text-decoration: none;
	font-size: 0.8em;
	flex-wrap: wrap;
	border-radius: 4px;
	background-color: var(--bg);
	position:relative;
	box-shadow: 0px 1px 2px var(--btncolor), 0px -1px 2px var(--tilebg);
	user-select:none;
	margin-top: 0.4rem;
	aspect-ratio: auto !important;
}
/* postcss-aspect-ratio polyfill ignores auto above */
live-asset[data-ratio]::before,
live-asset[data-ratio]::after {
	content:none !important;
}
live-asset[data-ratio] > * {
	position:relative !important;
}

live-asset > .header {
	background-color: var(--tilebg);
	color: var(--btncolor);
	display: flex;
	width: 100%;
	height: 2.3em;
	align-items: flex-start;
}
live-asset > .header > a {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	flex: 1 1 auto;
	line-height: 2.3em;
	padding-left: 0.5em;
	color:inherit;
	text-decoration: none;
}

live-asset > .header > .favicon {
	padding: 0.4em;
	align-self: center;
	height: 2.3em;
	width: 2.3em;
	background-image: linear-gradient(140deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
	line-height: 1.4;
	white-space:nowrap;
}

live-asset > .meta {
	padding-top: 0.15em;
	padding-left:0.5em;
	padding-right:0.5em;
	/* let div.meta grow with its content */
	position:relative;
	margin: 0;
	flex: 1 1 70%;
	color: var(--btncolor);
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
live-asset > .meta > strong {
	color: var(--btncolorhover);
}
live-asset > .meta > .line {
	display:inline-block;
	font-family:sans-serif;
	font-size:0.7em;
	line-height:1em;
	margin-top:0.15em;
}

live-asset > .thumbnail {
	flex: 1 1 30%;
	overflow:hidden;
	aspect-ratio: 16 / 9;
	position: relative;
}

live-asset > .thumbnail > img {
	height: 100%;
	width: 100%;
	display: block;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}
:not([data-mode="unused"]) > live-asset button[name="del"] {
	display:none;
}
live-asset button {
	all:unset;
	padding: 0.4em 0.6em;
	height: 2em;
	text-align:center;
	flex: 0 0 auto;
	box-sizing: border-box;
	line-height: 1.2em;
	border-radius: 2.3em;
	cursor:pointer;
	margin-top: 0.1em;
	margin-right: 0.15em;
}

.live-message live-asset button[name="del"],
live-asset button[name="save"] {
	display:none;
}
.live-message .ProseMirror live-asset button[name="del"],
live-asset.ctrl button[name="save"] {
	display:initial;
}

live-asset button:hover {
	color:var(--bg);
	background-color:var(--btncolor);
}

live-asset > .meta > p:first-of-type {
	margin: 0;
}

live-asset > .meta > p + p {
	overflow: hidden;
	margin-bottom: 0;
	max-height: 2.2em;
	text-align: justify;
	position:relative;
}

live-asset > .meta > p + p::after {
	content:'';
	position:absolute;
	left:95%;
	right:0;
	bottom:0;
	height: 1.2em;
	background:linear-gradient(to right, rgba(var(--back-color-rgb), 0), rgba(var(--back-color-rgb), 1));
}

#control live-asset > form {
	display:none;
}
live-asset > form {
	display:flex;
	flex-wrap: wrap;
}

live-asset > form > label:first-of-type {
	flex:3 1 auto;
}
live-asset > form > label:last-of-type {
	flex:1 1 auto;
}
live-asset > form > label {
	display:flex;
	border: 1px solid var(--middle-color);
	border-radius: 0;
	overflow: hidden;
}
live-asset > form > label > span {
	color:var(--middle-color);
	background-color:var(--back-low-color);
	padding:0.2em;
	margin-right: 0.2em;
}
live-asset > form > label > input {
	flex:1 0 auto;
	border-radius: 0;
	border: none;
}

@media screen and (max-width: 1280px) {
	live-asset > .meta > p + p {
		white-space: nowrap;
	}
}

live-asset > .meta > p > em {
	position:absolute;
	margin-right:0.2em;
	right:0;
}
.live-message live-asset > .content {
	pointer-events:none;
}
.live-message live-asset > code.content {
	padding:1em;
}
.live-message live-asset {
	display:flex;
	cursor:grab;
	white-space: normal;
	margin: 1em;
	width: auto;
	height: auto;
}
.live-message live-asset .thumbnail {
	height: 6em;
	flex-basis: 7%;
	aspect-ratio: 16 / 9;
}
.live-message live-asset > .meta > p + p {
	white-space: normal;
	text-align:left;
}

#control[data-mode="text"] live-asset:hover > .header,
#control[data-mode="link"] live-asset:hover > .header {
	color:var(--bg);
	background-color: var(--btncolor);
}

.dragging {
	opacity:0.3;
}

.handle {
	position:absolute;
	background: #4165A0;
	opacity:0.7;
	border:none;
	color:white;
	font-size:0.8em;
	padding:1em;
}

#control[data-mode="mark"] > #assets,
#control > #icons {
	display:none;
}

#control[data-mode="mark"] > #icons {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	user-select:none;
}
#control live-icon {
	display: flex;
	width:calc(20% - 0.2rem);
	border: 1px solid var(--middle-color);
	border-radius: 4px;
	padding: 0.2em;
	margin: 0.1rem;
	align-content: center;
	flex-direction: column;
	justify-content: space-around;
	aspect-ratio: 1 / 1;
}
#control live-icon > img {
	width:100%;
	max-height:100%;
}
#control live-icon:hover {
	background-color: var(--tilebg);
}


#control[data-mode="link"] > header {
	opacity: 0.5;
	pointer-events: none;
	position: relative;
}

#control[data-mode="link"] > [is="edit-upload"] {
	opacity: 0.5;
	pointer-events: none;
}

#control[data-mode="link"] > [is="edit-paste"],
#control[data-mode="link"] live-asset > .header {
	--tilebg: var(--text-low-color);
	--btncolor: var(--back-low-color);
}

#control[data-mode="link"] > [is="edit-paste"]:hover,
#control[data-mode="link"] live-asset:hover > .header {
	--btncolor: var(--bgselcolor);
	--bg: var(--selcolor);
}

button.strike {
	background: linear-gradient(to left top, transparent 47.75%, currentColor 49.5%, currentColor 50.5%, transparent 52.25%);
}
