@import "/node_modules/modern-normalize";

@import "./theme.css";

.container {
	max-width: 1024px;
	width: 100%;
	margin: 2rem auto;
	text-align: center;
}
table {
	background-color: var(--tilebg);
	border-collapse: collapse;
	margin: 2rem auto;
}
table td {
	padding:0.5em;
	border:var(--border);
	white-space:nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	text-align: left;
}
table td:first-of-type {
	max-width: 35vw;
}


body > cite {
	font-size: 0.8rem;
	font-style: normal;
}

.centered {
	display: block;
	text-align: center;
}
