@import "/node_modules/modern-normalize";

@import "./theme.css";

table {
	max-width:800px;
	width:100%;
	margin:2rem auto;
	background-color: var(--tilebg);
	border-collapse: collapse;
}
table td {
	padding:0.5em;
	border:var(--border);
	white-space:nowrap;
}
