form[is] {
	font-size: 0.8em;
	margin: 0.3rem 0;
	transition-property: opacity;
	opacity:100%;
	transition-duration: 0.25s;
}

form[is] > label {
	display:block;
	position: relative;
	color:var(--btncolor);
}
form[is] > label > input {
	text-align:left;
	color:var(--btncolor);
	width:100%;
	cursor: pointer;
}

form[is] > label > input:hover,
form[is] > label > input:hover::placeholder {
	color:var(--btncolorhover);
}
form[is] > label > input::placeholder {
	color:var(--btncolor);
	transition:color 0.2s;
}
form[is] > label > input:focus::placeholder {
	color:transparent;
}

form[is="edit-paste"] > label::after {
	content: "";
	width: 1.8em;
	height: 1.8em;
	position: absolute;
	right: 0.9rem;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 561 561' height='100%'%3E%3Cpath d='M459 51H351.9c-10.2-30.6-38.25-51-71.4-51-33.15 0-61.2 20.4-71.4 51H102c-28.05 0-51 22.95-51 51v408c0 28.05 22.95 51 51 51h357c28.05 0 51-22.95 51-51V102c0-28.05-22.95-51-51-51zm-178.5 0c15.3 0 25.5 10.2 25.5 25.5S295.8 102 280.5 102 255 91.8 255 76.5 265.2 51 280.5 51zM459 510H102V102h51v76.5h255V102h51v408z'/%3E%3C/svg%3E");
	background-repeat:no-repeat;
	top: 50%;
	margin-top: -0.9em;
}

form[is="edit-upload"] > label::after {
	content: "";
	width: 2em;
	height: 2em;
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.342 2.907a.82.82 0 0 0-.747-.885c-1.97-.168-3.892.635-5.738 2.353-1.62 1.507-2.522 3.825-2.741 6.927L9.72 10.007l-.09-.082a.82.82 0 0 0-1.095 1.213l2.753 2.718.095.086a.82.82 0 0 0 1.028-.027l3.196-2.687.087-.085a.82.82 0 0 0-1.147-1.163l-1.803 1.499c.184-2.746.939-4.705 2.227-5.904 1.531-1.425 3.017-2.046 4.484-1.92a.82.82 0 0 0 .886-.748zM4.5 3.75a.75.75 0 0 0-.75.75v15c0 .414.336.75.75.75h15a.75.75 0 0 0 .75-.75V12a.75.75 0 0 0-1.5 0v6.75H5.25V5.25h3.34a.75.75 0 0 0 0-1.5H4.5z'/%3E%3C/svg%3E");
	background-size: cover;
	position: absolute;
	right: 0.8rem;
	top: 50%;
	margin-top: -1em;
}
.prosemirror-menu > form {
	flex-direction:column;
	font-size: 0.8rem;
	margin: 0;
	min-width: min(500px, 100%);
	width: 100%;
}
.prosemirror-menu > form > live-asset,
.prosemirror-menu > form > label > input {
	border-left:0;
	border-right:0;
	border-bottom:0;
}
#control > #assets > .helper {
	display:none;
}
#control[data-mode="link"] > #assets > .helper {
	display: block;
	z-index: 1;
	text-align: center;
	left: 0.2rem;
	width: calc(100% - 0.4rem);
	padding: 0.5em 0.5rem;
	margin-top: 0.3em;
}
#control[data-mode="link"] form[is="edit-upload"] {
	opacity: 0%;
	pointer-events: none;
	display: none;
}
form[is="edit-upload"] > label {
	cursor: pointer;
}
form[is="edit-upload"] > label > input {
	display:none;
}
form[is="edit-upload"] > label:hover {
	color:var(--bg);
	background-color: var(--btncolor);
}
form[is="edit-upload"] > img {
	max-width:100%;
	display: block;
	padding: 1px 0;
}

form[is].negative > label > input {
	background-color:#faa;
}

form[is="edit-filter"] {
	flex-basis: 100%;
	font-size: 0.8rem;
}

[is="edit-filter"] .mode,
[is="edit-filter"] .list {
	display:flex;
	flex-wrap:wrap;
	border: 1px solid var(--middle-color);
	overflow: hidden;
}

[is="edit-filter"] .list {
	margin-top:0.2rem;
}
[is="edit-filter"] label {
	user-select:none;
	flex: 1 1 auto;
	position: relative;
	border: 1px solid var(--middle-color);
}
[is="edit-filter"] label > input {
	display:none;
}
[is="edit-filter"] label > input + span {
	display:inline-block;
	width:100%;
	background-color:var(--tilebg);
	text-align:center;
	padding: 0.4em;
	color:var(--btncolor);
}
[is="edit-filter"] .list label + label > input + span {
	border-left:0;
	margin-left:0;
}
[is="edit-filter"] label > input[disabled] + span {
	opacity:50%;
}
[is="edit-filter"] label:hover > input:not([disabled]) + span {
	color:var(--btncolorhover);
	/* background-color:var(--tilebghover); */
}
[is="edit-filter"] label > input:checked + span {
	color: var(--btncolor);
	background-color:var(--tilebghover);
}


[is="edit-filter"].notags > .list {
	display: none;
}


form[is] .buttons {
	display: flex;
	flex: 1 0 auto;
	border: none;
	margin: 0;
	padding: 0;
}

form[is] .buttons button {
	flex: 1 1 50%;
	color: var(--btncolor);
	padding: 0.4em 0;
}

form[is] .buttons button:hover {
	color: var(--btncolorhover);
}

input.tiled:focus {
	outline: none;
	border-color: black;
}


form[is].asset .buttons {
	margin-bottom:-1px;
}