@import "/node_modules/modern-normalize";

@import "/node_modules/flatpickr";

@import "/node_modules/toggle-switch-css";

@import "/node_modules/@livejack/prosemirror/style/default.css";

@import "/node_modules/@livejack/prosemirror/style/gapcursor.css";

@import "/node_modules/@livejack/prosemirror/style/tables.css";

@import "./resources.css";

@import "./spin.css";

@import "./toolbar.css";

@import "./notification.css";

@import "./asset.css";

@import "./article.css";

@import "./form.css";

@import "./status.css";

#control,#live {
	/* colors */
	--back-color-rgb: 255, 255, 255;
	--back-color: rgb(var(--back-color-rgb));
	--text-color: black;
	--back-low-color: #EEE;
	--text-low-color: #666;
	--middle-color: #888;
	--warn-rgb: 184, 0, 0;
	--bgselcolor:#4165A0;
	--selcolor:white;
	/* semantic */
	--bg: var(--back-color);
	--tilebg: var(--back-low-color);
	--tilebghover: var(--back-color);
	--btncolor: var(--text-low-color);
	--btncolorhover: var(--text-color);
	--border: 1px solid var(--middle-color);
}

@media (prefers-color-scheme: dark) {
	#control {
		--text-color: white;
		--back-color-rgb: 48, 48, 48;
		--text-low-color: #EEE;
		--back-low-color: #555;
	}
}

#control {
	flex: 1 256px;
	height: 100vh;
	overflow-y: scroll;
	width: 300px;
	background-color:var(--bg);
	padding: 0.2rem;
	padding-top: 0;
}

body {
	display:flex;
	flex-direction: row;
	font-family: "Open Sans", sans-serif;
	max-width: 1600px;
	margin: 0 auto;
}
#live {
	flex: 2 768px;
	height: 100vh;
	overflow-y: auto;
	padding-left:1em;
	padding-right:1em;
}

.tiled {
	padding: 1em 1rem;
	border: var(--border);
	background-color: var(--tilebg);
	display: block;
	color: var(--btncolorhover);
	background-position:center right;
	background-repeat:no-repeat;
	background-size: 17% 60%;
}
.tiled:first-of-type {
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
}

#control > header {
	z-index: 100;
	position: sticky;
	top: 0;
	background-color: var(--bg);
	padding-top: 0.2rem;
	scroll-snap-align: start;
	box-shadow: 0px 2px 2px var(--bg);
}

#control > header > a {
	font-size: 1em;
	font-weight: bold;
}
#control > header > a[href]::after {
	display: inline-block;
	width: 1em;
	height: 1em;
	margin-left: 0.2em;
	content: '';
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M488.727 0H302.545c-12.853 0-23.273 10.42-23.273 23.273s10.42 23.273 23.273 23.273h129.997L192.999 286.09c-9.087 9.087-9.087 23.823 0 32.912a23.2 23.2 0 0016.455 6.816 23.195 23.195 0 0016.455-6.817L465.455 79.458v129.997c0 12.853 10.42 23.273 23.273 23.273s23.273-10.42 23.273-23.273V23.273C512 10.42 501.58 0 488.727 0z'/%3E%3Cpath d='M395.636 232.727c-12.853 0-23.273 10.42-23.273 23.273v209.455H46.545V139.636H256c12.853 0 23.273-10.42 23.273-23.273S268.853 93.091 256 93.091H23.273C10.42 93.091 0 103.511 0 116.364v372.364C0 501.58 10.42 512 23.273 512h372.364c12.853 0 23.273-10.42 23.273-23.273V256c-.001-12.853-10.421-23.273-23.274-23.273z'/%3E%3C/svg%3E");
}
#control > header > a > img {
	position:relative;
	top:1px;
	margin-right:4px;
	max-width:16px;
	max-height:16px;
}

#control > #assets,
#control > #icons {
	margin-top: 0.3rem;
}

#gui {
	display:none;
}

[contenteditable="true"]:focus,
[contenteditable="true"] *:focus {
	outline: none;
}

.prosemirror-menu {
	text-align: right;
	position: absolute;
	z-index: 2;
	box-shadow: 0px 2px 16px -2px rgb(0 0 0 / 66%);
	background-color: white;
	right: 0;
}

