@import "../modules/modern-normalize/modern-normalize.css";

@import "../modules/flatpickr/dist/flatpickr.css";

@import "../modules/toggle-switch-css/build/toggle-switch.css";

@import "../modules/slim-select/dist/slimselect.css";

@import "../modules/@livejack/prosemirror/style/default.css";

@import "./spin.css";

@import "./toolbar.css";

@import "./notification.css";

@import "./asset.css";

body {
	display:flex;
	flex-direction: row;
	font-family: "Open Sans", sans-serif;
	max-width: 1600px;
	margin: 0 auto;
}
#live {
	flex: 2 768px;
	height: 100vh;
	overflow-y: auto;
	padding-left:1em;
	padding-right:1em;
}
#control {
	flex: 1 256px;
	height: 100vh;
	overflow-y: auto;
	width: 300px;
}
#control > header {
	padding:0.8em;
	background:#EFEFEF;
	z-index: 100;
	position: sticky;
	top: 0;
}

#control > header > h1 {
	font-size:1em;
	margin:0;
	padding:0;
	padding-bottom:0.5em;
	padding-right:10.5em;
}
#control > header > h1 > img {
	position:relative;
	top:1px;
	margin-right:4px;
	max-width:16px;
	max-height:16px;
}

#gui {
	display:none;
}

.live-messages > header {
	padding-bottom: 1em;
	position: sticky;
	top: 0;
	background: white;
	z-index: 100;
	margin-bottom: 0;
	padding-top: 1em;
}
.live-message {
	position:relative;
}
.live-message.live-new [class^="live-"] {
	color: black !important;
	background:white !important;
}
.live-messages > .live-message.live-new,
.live-messages > .live-message.focus,
.live-messages > .live-message.live-new.focus,
#live-messages > .live-message.live-new,
#live-messages > .live-message.focus,
#live-messages > .live-message.live-new.focus {
	background:#DDD;
	box-shadow:11px 0 0px 0px #DDD, -10px 0 0px 0px #DDD;
	padding-top: 13px;
	margin-top: 22px;
	border-top: 1px solid transparent;
}
.live-messages > .live-message.live-new,
#live-messages > .live-message.live-new {
	background:#EEE;
	box-shadow:11px 0 0px 0px #EEE, -10px 0 0px 0px #EEE;
}
.live-messages > .live-message.focus + .live-message,
.live-messages > .live-message.live-new + .live-message,
#live-messages > .live-message.focus + .live-message,
#live-messages > .live-message.live-new + .live-message {
	border-top:1px solid transparent;
}
.live-message.focus > .focus {
	background:white !important;
}
.live-message.focus [class^="live-"] {
	background:#F9F9F9;
}
.live-message .live-article,
.live-message .live-icons,
.live-messages figure > div > .lazy {
	min-height:100px;
}
.live-messages .lazy {
	width:100% !important;
	opacity:1 !important;
	background:#EEE;
}

.live-message .live-icons .selected {
	outline:1px dotted #55F;
}
.live-message-locked {
	opacity:0.2;
}
.live-message-changed {
	outline:1px solid #FFDDDD;
}

div.ressources {
	background:#EFEFEF;
	padding-left: 0.8%;
	padding-right: 0.8%;
}

div.ressources > .filter {
	margin-bottom:2px;
	border:1px solid black;
}

div.ressources.icon {
	column-count:6;
}
div.ressources.icon > .upload {
	display:none;
}

div.ressources > a {
	display: flex;
	flex-direction: row;
	margin-bottom:2px;
	border:1px solid black;
	text-decoration: none;
	color: black;
	font-size: 0.8em;
	flex-wrap: wrap;
}

div.ressources > .new {
	border:1px dashed black;
	background:white;
	text-align:center;
	cursor:pointer;
	color:gray;
	width:100%;
	display:block;
	padding: 1em;
}
div.ressources > .upload {
	text-align: center;
	background-color: #aaa;
	padding: 1em;
	cursor: pointer;
}
div.ressources > .upload.negative {
	background-color:#faa;
}


#toggle-live-status {
	cursor:pointer;
}
#control > header form {

}
#control > header form > label {
	font-size:0.8em;
	display:inline-block;
	vertical-align:bottom;
}
#control > header form input {
	color:#003872;
	border:0px;
	background-color:#E5E5E5;
	border-radius:2px;
	padding:0 0.2em;
	cursor:pointer;
	text-align:right;
}
#control > header form input[readonly] {
	cursor:default !important;
	background-color:transparent;
}

#toggle-live-status.switch-light.switch-material input:focus ~ span a,
#toggle-live-status.switch-light.switch-material input:focus + label {
	outline:0;
}
#toggle-live-status.switch-material.switch-light input:checked ~ span {
	background: #47DA6E;
}

#toggle-live-status.switch-material.switch-light input:checked ~ span a,
#toggle-live-status.switch-light.switch-material > span:before,
#toggle-live-status.switch-light.switch-material > span:after,
#toggle-live-status.switch-toggle.switch-material label:after {
	background: white;
}

.nsocket {
	position:fixed;
	font-size:0.7em;
	color:#003872;
	letter-spacing:0.1em;
	text-align:center;
	text-decoration:none;
	bottom:30px;
	left:-20px;
	transform:rotate(90deg);
}

.flatpickr-calendar.hasTime.noCalendar {
	width: 79px;
}

.live-message.unsaved {
	position: sticky;
	top: 0;
	background: #EEE;
	z-index: 10000;
	bottom: 0;
}

[contenteditable="true"]:focus,
[contenteditable="true"] *:focus {
	outline: none;
}


.ressources.active > [is="edit-asset"] > .header {
	background-color: #EFEFEF;
	color: black;
}

.ressources.active > [is="edit-asset"] > .header:hover {
	background-color: #4165A0;
	color: white;
}