/* notifications d'erreurs */
.notification {
	position:fixed;
	bottom:0;
	right:30%;
	background-color:#E50;
	border-radius: 0.4em;
	padding-right: 2em;
	padding-left: 1em;
	z-index:99;
	color:black;
	min-width:20%;
	max-width:65%;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.notification[hidden] {
	display:none;
}
.notification .content {
	font-size:1rem;
}
.notification .content > p {
	margin:0;
	padding:1em 0;
}
.notification .icon {
	font-size: 1.4rem;
	position:absolute;
	right: 0.5em;
	top: 0.8rem;
	cursor:pointer;
}
