.notification {
	position: absolute;
	bottom:0;
	background-color:#E50;
	padding-right: 2em;
	padding-left: 1em;
	z-index:99;
	color:black;
	width: 100%;
	left: 0;
}
.notification.ok {
	background-color: darkgreen;
	color:white;
}
.notification[hidden] {
	display:none;
}
.notification .content {
	font-size:1rem;
}
.notification .content > p {
	margin:0;
	padding:1em 0;
}
.notification .icon {
	font-size: 1.4rem;
	position:absolute;
	right: 0.5em;
	top: 0.8rem;
	cursor:pointer;
}
