form[is="edit-status"] {
	margin: 0.2rem 0;
	display: flex;
	position: relative;
	box-shadow: 0px 2px 3px -1px var(--bg);
	flex-flow: wrap column;
}

[is="edit-status"] > .tiled {
	opacity:70%;
	border-bottom:0;
}
[is="edit-status"] > .tiled > div {
	flex:1 1 auto;
	text-align: center;
}
[is="edit-status"] .stop {
	text-align: right;
}
[is="edit-status"] .active {
	background-color: var(--warn-rgb);
	opacity:100%;
	color: white;
}

.tiled > div {
	flex: 1 0 auto;
}
