div.toolbar {
	width: calc(100% + 2rem);
	display: flex;
	justify-content: flex-end;
	position: absolute;
	background-color: inherit;
	left: -1rem;
	z-index: 1;
	font-size: 0.85rem;
	padding-right: 1rem;
	bottom: -17px;
	padding-bottom: 0.2em;
}
div.toolbar > * {
	border-radius: 4px;
	padding: 0.3em 0.4em;
	background-color: #EEE;
	margin: 0.2em;
	border: 1px solid gray;
}
div.toolbar > button:hover:not([disabled]),
div.toolbar > button:focus {
	border-color:black;
	background-color:#CCC;
}
div.toolbar > button > i,
div.toolbar > label > span {
	font-size:1.4em;
}

div.toolbar.editor {
	left:97px;
	right:auto;
	text-align:left;
	z-index:2;
}
div.toolbar.article label {
	display:inline-block; /* fix horizontal whitespace */
}
div.toolbar button[name="del"] {
	margin-right:2em;
}
.ProseMirror-icon {
	cursor:default;
}

.live-message:not([id]) > .toolbar [name="del"] {
	display:none;
}
