div.toolbar {
	display: flex;
	justify-content: flex-end;
	font-size: 0.85rem;
	flex-wrap: wrap;
	margin-bottom: -1.4rem;
	margin-left:1rem;
	align-items: start;
}
div.toolbar > div > [name],
div.toolbar > div > button {
	border-radius: 0.2em;
	padding: 0.3em 0.4em;
	background-color: #EEE;
	margin: 0.2em;
	border: 1px solid gray;
	height: 2.05em;
}
div.toolbar > div > button:last-of-type {
	margin-right:0;
}
div.toolbar > div > button:hover:not([disabled]),
div.toolbar > div > button:focus {
	border-color:black;
	background-color:#CCC;
}
div.toolbar > div > button > i,
div.toolbar > div > label > span {
	font-size:1.4em;
}
div.toolbar > div:first-child {
	margin-top:0.2em;
	flex:0 0 auto;
}
div.toolbar > div:not(.menutool) {
	max-width: none;
	width: auto;
}
div.toolbar > div.menutool {
	flex: 1 0 auto;
}
div.toolbar > div:last-child {
	max-width: 338px;
	min-width: 338px;
	text-align: right;
}
div.toolbar > div > button[name="del"] {
	margin-right:2em;
}
.ProseMirror-icon {
	cursor:default;
}

.live-message:not([data-id]) > .toolbar [name="del"] {
	display:none;
}

.prosemirror-menu {
	background-color: #EEE;
	margin-right: auto;
	border:1px solid grey;
	border-radius: 0.2em;
}
.prosemirror-menu.floating {
	position:fixed;
	z-index: 1;
	margin-top:0.5em;
	transition: top, left 0.1s, 0.1s;
	box-shadow: 0 1px 10px 0px white;
	min-width: auto;
	width: 100%;
}
.prosemirror-menu.disabled {
	opacity:0.5;
	pointer-events:none;
}

@media screen and (min-width: 800px) {
	div.toolbar {
		margin-left: calc(87px + 1rem);
	}
}

.ProseMirror-menuitem {
	margin: 0;
}
.ProseMirror-menuitem > .ProseMirror-icon {
	padding: 0.4em 0.7em;
}


.ProseMirror-menu-active {
	background-color: lightgray;
}
